{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

    <style>
        canvas {
            margin-bottom: 40px;
        }
    </style>

    <h5>Most used queries</h5>
    <div>
        <p>This pie chart displays the most frequently used queries. If the user passes over the slice, it shows the number of searches.</p>
    </div>

    <!-- Display Pie Chart -->
    <canvas id="wordFrequencyPieChart" width="200" height="200px"></canvas>

    <script>
        // Convert Python dictionary (passed as JSON string) to JavaScript object
        const termsQueryData = JSON.parse({{terms_query|tojson|safe}});
        console.log("Query data:");
        console.log(termsQueryData);
    </script>
    <script>
        // Convert data to arrays for Chart.js
        const labels = Object.keys(termsQueryData);
        const data = Object.values(termsQueryData);

        // Configure Pie Chart options
        const options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom',
                },
            }
        };

        // Generate Pie Chart
        const ctx = document.getElementById('wordFrequencyPieChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(255, 159, 64, 0.7)',
                        'rgba(255, 0, 0, 0.7)',
                        'rgba(0, 255, 0, 0.7)',
                        'rgba(0, 0, 255, 0.7)',
                        'rgba(255, 99, 132, 0.5)', // Additional color for variety
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                    ],
                }],
            },
            options: options
        });
    </script>

    <div class="button-container-custom"><a href="/dashboard_2" class="btn-custom btn-primary">Most visited documents</a></div>

{% endblock %}


